<div class="title title2 overflowHidden mt50" id="badBehavior">
    <div class="title2Text" id="reportTitle">不良行为报告</div>
</div>
<table class="badBehavior">
    <thead class="text-c">
    <tr><td colspan="2">治安记录</td></tr>
    <tr>
        <td>不良行为</td>
        <td>案件时间</td>
    </tr>
    </thead>
    <tbody id="policeRecordList">

    </tbody>
</table>
<table class="penalRecord mt40">
    <thead class="text-c">
    <tr><td>刑事记录</td></tr>
    </thead>
    <tbody  id="penalRecordList">

    </tbody>
</table>
<table class="insuranceCheat mt40">
    <thead class="text-c">
    <tr><td>保险欺诈</td></tr>
    </thead>
    <tbody id="insuranceCheatList">

    </tbody>
</table>
<table class="insuranceCheat mt40">
    <thead class="text-c">
    <tr><td>其他处罚</td></tr>
    </thead>
    <tbody id="otherRecordList">

    </tbody>
</table>