<div class="title title2 overflowHidden mt50" id="clBehavior">
    <div class="title2Text" id="reportTitle">信贷行为报告</div> <!--titleIconOrange-->
</div>
<table class="loanBehavior">
    <tbody>
    <tr>
        <td>传统金融机构逾期</td>
        <td><span class="ellipsis w500" id="trdFinancialOver"></span></td>
    </tr>
    <tr>
        <td>网贷/消费金融平台借贷逾期</td>
        <td><span class="ellipsis w500" id="borrowOver"></span></td>
    </tr>
    <tr>
        <td>多平台借贷嫌疑</td>
        <td><span class="ellipsis w500" id="multiplate"></span></td>
    </tr>
    <tr>
        <td>信贷欺诈</td>
        <td><span class="ellipsis w500" id="creditFraud"></span></td>
    </tr>
    <tr>
        <td>网贷/消费金融黑名单</td>
        <td><span class="ellipsis w500" id="blacklist"></span></td>
    </tr>
    <tr>
        <td>信贷失联</td>
        <td><span class="ellipsis w500" id="lossContact"></span></td>
    </tr>
    <tr>
        <td>信用卡逾期</td>
        <td><span class="ellipsis w500" id="creditOver"></span></td>
    </tr>
    <tr>
        <td>小额典当</td>
        <td><span class="ellipsis w500" id="pawnRecord"></span></td>
    </tr>
    </tbody>
</table>