<div class="title title2 overflowHidden mt50" id="communicationTrack">
    <div class="title2Text" id="reportTitle">通讯轨迹报告</div>
</div>
<table class="communicationTrack">
    <thead class="text-c">
    <tr><td>手机状态</td><td>正常</td></tr>
    </thead>
    <tbody>
    <tr>
        <td>手机在网时长</td>
        <td><span class="ellipsis w500" id="onlineTimeMap">--</span></td>
    </tr>
    <tr>
        <td>手机催收被呼记录</td>
        <td><span class="ellipsis w500" id="collectionRecordsMap">--</span></td>
    </tr>
    </tbody>
</table>