<div class="title title2 overflowHidden mt50" id="consumeBehavior">
    <div class="title2Text" id="reportTitle">消费行为报告</div>
</div>
<table class="consumeBehavior">
    <tbody>
    <tr>
        <td>异常交易</td>
        <td><span class="ellipsis w500" id="ExceptionTrade">--</span></td>
    </tr>
    <tr>
        <td>套现嫌疑</td>
        <td><span class="ellipsis w500" id="cashOut">--</span></td>
    </tr>
    <tr>
        <td>不良消费</td>
        <td><span class="ellipsis w500" id="badCost">--</span></td>
    </tr>
    </tbody>
</table>