<div class="title title2 overflowHidden" id="plscan">
    <div class="title2Text" id="reportTitle">人法扫描报告</div>
</div>
<div class="title title2 overflowHidden" id="plscan">
    <div class="title2Text" >报告编号：HP-EID20170608001</div>
</div>
<table class="record mt40">
    <thead class="text-c">
    <tr><td colspan="4">案件记录</td></tr>
    <tr>
        <td>序号</td>
        <td style="width: 420px">查询机构地点</td>
        <td style="width: 120px">查询时间</td>
    </tr>
    </thead>
    <tbody id="courtList">
    
    </tbody>
</table>
<table class="scan">
    <tbody>
    <tr>
        <td>法院执行名单</td>
        <td><span class="ellipsis w500" id="courtExecute"></span></td>
    </tr>
    <tr>
        <td>失信老赖名单</td>
        <td><span class="ellipsis w500" id="lossCredit"></span></td>
    </tr>
    <tr>
        <td>限制高消费名单</td>
        <td><span class="ellipsis w500" id="limitHighCost"></span></td>
    </tr>
    <tr>
        <td>限制出入境名单</td>
        <td><span class="ellipsis w500" id="limitEntryExit"></span></td>
    </tr>
    <tr>
        <td>犯罪及嫌疑人名单</td>
        <td><span class="ellipsis w500" id="crime"></span></td>
    </tr>
    <tr>
        <td>行政违法名单</td>
        <td><span class="ellipsis w500" id="breakLaw"></span></td>
    </tr>
    </tbody>
</table>
<table class="record mt40">
    <thead class="text-c">
    <tr><td colspan="4">案件记录</td></tr>
    <tr>
        <td>案号</td>
        <td style="width: 420px">执行法院</td>
        <td style="width: 120px">时间</td>
        <td style="width: 200px">案件状态</td>
    </tr>
    </thead>
    <tbody id="courtList">
    
    </tbody>
</table>