<div class="col-xs-12">
    <div class="queryBox mt-10 text" id="queryTime">
        <label class="labelText w70 pull-left text-r">查询时间：</label>
        <a href="javascript:void(0)" data-querytime="all" class="btn btn-link current">全部</a>
        <a href="javascript:void(0)" data-querytime="today" class="btn btn-link">当天</a>
        <a href="javascript:void(0)" data-querytime="threeDay" class="btn btn-link">最近三天</a>
        <a href="javascript:void(0)" data-querytime="week" class="btn btn-link">最近一周</a>
        <a href="javascript:void(0)" data-querytime="month" class="btn btn-link">最近一月</a>
        <input size="16" class="customStartTime form-control" placeholder="开始时间" type="text" value="" readonly>        
        <label class="to_text">至</label>
        <input size="16" class="customEndTime form-control" placeholder="结束时间" type="text" value="" readonly>
    </div>
    <!-- <div class="queryBox mt-10 text" id="userDefined">
        <label class="labelText w70 pull-left text-r">自定义：</label>
        
    </div> -->
    <div class="queryBox mt-10" id="bankStatus">
        <label class="labelText w70 pull-left text-r">业务状况：</label>
        <a href="javascript:void(0)" data-status="" class="btn btn-link current">全部</a>
        <a href="javascript:void(0)" data-status="0" class="btn btn-link">未处理</a>
        <a href="javascript:void(0)" data-status="1" class="btn btn-link">已通过</a>
        <a href="javascript:void(0)" data-status="2" class="btn btn-link">未通过</a>
        <a href="javascript:void(0)" data-status="3" class="btn btn-link">黑名单</a>
    </div>
</div>
<div class="col-xs-12 borderTop">
    <form id="infor_searchForm" class="col-xs-8">
        <div class="col-xs-4">
            <label class="form-label col-xs-4 col-sm-5">客户名称：</label>
            <div class="formControls col-xs-8 col-sm-7">
              <input type="text" class="input-text" placeholder="客户名称" name="companyName" id="companyName">
            </div>
        </div>
        <div class="col-xs-4">
            <label class="form-label col-xs-4 col-sm-5">门店名称：</label>
            <div class="formControls col-xs-8 col-sm-7">
              <input type="text" class="input-text" placeholder="门店名称" name="childName" id="childName">
            </div>
        </div>
        <div class="col-xs-3">
            <label class="form-label col-xs-4 col-sm-4">姓名：</label>
            <div class="formControls col-xs-8 col-sm-8">
              <input type="text" class="input-text" autocomplete="off" placeholder="姓名" name="borrowerName" id="borrowerName">
            </div>
        </div>
        <input class="btn btn-default col-xs-1" type="submit" id="search_button" value="搜索">
    </form>
</div>